<style>
body {
	
	width: 80ch;
	margin: 0 auto;
}
img {
	margin: 0 auto;
	width: 70%;
}
body{
	font-size: 20px;
}
</style>

<body>

<br>

<h1>Hello this is Philip's legendary web reverse engineering challenge website</h1>

<br>
<center>
<img src="static/john-pierre-ugarte.jpg"></img>
</center>

<br>
<br>
<br>

Reverse Engineering is where you get some kind of access to software but not the source code, and you try to figure out how it works and build a model of it's internal functionality so you can use or abuse it.

<br>
<br>
<hr>
<br>

I have two examples for us to try reverse engineering a web server! <br><br>

The first example does not require authentication. <a href="/noauth_example">first example</a>. This'll give you a basic idea of how querying web servers works. <br><br>

The first example is a demonstration of how RE'ing websites can be <b>faster, less computationally expensive, and gives you better data</b>. <br><br>

The second example does require authentication and is a more realistic task. <a href="/login">second example</a>. The username and password are both "test" <br><br>

I hope you enjoy and get something out of this exercise! I'll get Mr. Schmidt to send you my repo with the source code and additional instructions for the server so you can run this on your computer if you so desire. <br><br>
<hr>
<br>

I am <a href="https://philip.science">philip.science</a>.
<br>
<br>
<br>
<br>
<br>
</body>
